@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Oswald&family=PT+Sans+Narrow&family=Special+Elite:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
  /* all default margin, padding and border values are removed */
  margin: 0;
  border: 0;
  padding: 0;
}
.logo {
  height: 300px;
  text-align: center;
  line-height: 20px;
  padding-top: 20px;
  margin-left: 40px;
}

#initial {
    font-family: "Special Elite", serif;
    font-size: 60px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: red;
    letter-spacing: 0px;
    text-align: center;
    color: #555555;
}
#name {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
    color: #555555;
}
#tagline {
    font-family: "kalam", cursive;
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #e4073e;
}

.hero-image {
  height: 300px;
  width: 100%;
  background: url("../images/hero.jpg");
  background-position: right;
  background-repeat: no-repeat;

}

/* start menu */
.menucontainer{
    font-size: 0;
}
#menu{
  font-size: 120px;
  letter-spacing: 4px;
  list-style-type: none;
}

#logo, #menu {
  line-height: 75px;
}

#menu li{
  float: right;
  margin-right: 30px;
}

#menu a{
  text-decoration: none;
  color: inherit;
}

#menu a:hover{
  border-bottom: 1px solid #777777;
}

/* menu */
#nav{
    margin: 0;
    padding: 0;
    background: #8d8d8f;
  
}

.menuitem {
    height: 40px;
    width: 100%;
    text-align: center;
    background: #A4E4E1;
    font-family: "Rancho";
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.menuitem a{
    text-decoration: none;
    margin-top: 20px;
    color: #000000;
}
.menuitem a:hover{
    color:#02488f;
}

.active {
  background-color: #06BDB2;
}
.inactive {
    background: #aaaaaa;    
}
.no-margin{
    padding: 0;
    margin: 0;
}


footer{
    background-color: #aaaaaa;
    min-height: 120px;
    margin: 0;
}

.footer-links li a i{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 12px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-link li a i:hover{
    background-color: #a9e1f1;
}
#footer-content{
   
    text-align: center;
    vertical-align: center;
    padding: 40px;
}
.cen
ter-list{
    display: inline-block
    
   
}

.position{
    margin-left: 40px;
    
}