@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Oswald&family=PT+Sans+Narrow&family=Special+Elite:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
  /* all default margin, padding and border values are removed */
  margin: 0;
  border: 0;
  padding: 0;
}
.logo {
  height: 300px;
  text-align: center;
  line-height: 20px;
  padding-top: 20px;
}

#initial {
    font-family: "Special Elite", serif;
    font-size: 60px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: red;
    letter-spacing: 0px;
    text-align: center;
    color: #555555;
}
#name {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
    color: #555555;
}
#tagline {
    font-family: "kalam", cursive;
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #e4073e;
}

.hero-image {
  min-width: ;height: 300px;
  width: 75%;
  background: url("../images/hero.jpg") no-repeat right;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 5s ease-in;
}

/* start menu */

#menu{
  font-size: 120px;
  letter-spacing: 4px;
  list-style-type: none;
}

#logo, #menu {
  line-height: 75px;
}

#menu li{
  float: right;
  margin-right: 30px;
}

#menu a{
  text-decoration: none;
  color: inherit;
}

#menu a:hover{
  border-bottom: 1px solid #777777;
}

.active {
  border-bottom: 1px solid #777777;
}
/* menu */
#nav{
    line-height: 60px;
    background: #8d8d8f;
    padding: 0px;
}
.menuitem {
    height: 60px;
    width: 100%;
    text-align: center;
    background: #06BDB2;
    font-family: "Rancho";
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}
.inactive {
    background: #aaaaaa;    
}
.no-padding{
    padding: 0;
    margin: 0;
}